nav {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
}
nav h3 a {
    text-align: end;
    color: #0065FC;
}
a {
    color: black;
}
header {
    font-family: 'Raleway', sans-serif;
    padding: 2%;
}
#search {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border: #F2F2F2;
    border-style: solid;
    border-radius: 15px;
}
#search i{
    color: black;
    background-color:whitesmoke;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}
#search h3{
    color: white;
    background-color:#0065FC;
    border-radius:  0px 10px 10px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
#search input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-style: none;
}
h2 {
    font-weight: bolder;
}
h3 {
    font-weight: bolder;
}
a:hover {
    color: #0065FC;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}
#Filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Filter{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    padding-left: 0;
    padding-right: 20px;
    margin: 10px;
    border: #F2F2F2;
    border-style: solid;
    border-radius: 100px;
}
.Filter:hover {
    transform: scale(1.1);
}
.Filter i {
    color: #0065FC;
    background-color:#DEEBFF ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}
.Filter h3 {
    text-indent: 10px;
}
#info {
    display:flex;
    flex-direction: row;
    align-items: center;
}
#info i{
    color: #0065FC;
    border-color:whitesmoke ;
    border-style: solid;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
main {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main p{
    display: block;
    margin-block-start: 0%;
}
.fa-star {
    color: #0065FC;
}
.listingtext {
    margin-left: 10px;
}
#Mostpopular {
    width: 28%;
    min-width: 350px;
    padding: 2%;
    background-color: #F2F2F2;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
}
#popularbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.MostPopular {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 175px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
.MostPopular img {
    border-radius: 20px 0px 0px 20px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    object-position: 20% 10%;
}
.populartext {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    padding-left: 10px;
    padding-top: -10px;
}
#accomodations {
    width: 62%;
    background-color: #F2F2F2;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
    align-items: center;
    padding: 2%;
}
#accomodationbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 500px;
    width: 100%;
}
.Accomodation {
    background-color: white;
    width: 300px;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
}
.Accomodation img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: none;
}
#activities{
    border-radius: 25px;
    margin-top: 50px;
    margin: 2%;
}
#activitybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Activities {
    margin: 25px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
}
.Activities h2{
    margin-left: 10px;
}
.Activities img{
    border-radius: 20px 20px 0px 0px;
    width: 400px;
}
footer {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 1280px){
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}
main h2{
    padding-left: 2%;
}
#Mostpopular {
    width: 100%;
    height: max-content;
    margin-bottom: 10px;
    padding: 0%;
}
#popularbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.MostPopular{
    width: 28%;
}
#accomodations{
    width: 100%;
    padding: 0%;
}
#accomodationbox {
    justify-content: space-around;
}
}

@media (max-width: 992px) {
main {
    display: flex;
    flex-direction: column;
}
#Mostpopular {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}
.MostPopular {
    display: flex;
    width: 95%;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
}
.MostPopular img {
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 20% 10%;
    
}
#accomodations {
    width: 100%;
    padding: 0%;
    background-color: white;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
    align-items: center;
}
#accomodationbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0px;
}
.Accomodation {
    background-color: white;
    width: 300px;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
}
.Accomodation img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: none;
}
#activities{
    border-radius: 25px;
    margin-top: 50px;
}
#activitybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Activities {
    margin: 25px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
}
.Activities img{
    border-radius: 20px 20px 0px 0px;
    width: 400px;
}
}
@media (max-width: 600px) {
#Mostpopular {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}
.MostPopular {
    display: flex;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
}
.MostPopular img {
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 20% 10%;
    
}
#accomodations {
    width: 100%;
    background-color: white;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
}
#accomodationbox {
    display: flex;
    align-items: center;
}
.Accomodation {
    background-color: white;
    width: 95%;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin: 10px;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
}
.Accomodation img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: none;
}
#activities{
width: 100%;
margin: 0%;
border-radius: 25px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
}
.Activities {
    background-color: white;
    width: 95%;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin: 10px;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
}
.Activities img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: none;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}
footer li{
    list-style-type: none;
}
}


