/*site wide*/
body {
  background-color: whitesmoke;
  margin: 0;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

header {
  font-family: "Raleway", sans-serif;
  padding: 0px 2%;
}
main {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
a {
  color: black;
}
a:hover {
  color: #0065fc;
  font-weight: bold;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}

/*Navigation bar*/
nav {
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: 1fr 200px 150px 100px;
  grid-template-rows: 1fr;
  padding: 15px 2%;
}
nav img {
    cursor: pointer;
}
.signup {
  grid-column: 4;
  grid-row: 1/2;
}
.nav-accomodation {
  grid-column: 2;
  grid-row: 1/2;
}
.nav-activities {
  grid-column: 3;
  grid-row: 1/2;
}
nav a {
  font-size: 25px;
  text-align: end;
  color: #0065fc;
}
nav .item a {
  padding: 13px 0;
  font-size: 25px;
  color: black;
}
nav .item a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
  font-weight: normal;
}
@media (max-width: 991px) {
  nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
  }
  nav .item a {
    padding: 25px 0px;
  }
  nav .item a:hover {
    border-bottom: 1px solid #0065fc;
    border-top: none;
  }
  .signup {
    grid-column: 2;
    grid-row: 1/2;
  }
  .nav-accomodation {
    grid-column: 1;
    grid-row: 2/3;
    text-align: center;
  }
  .nav-activities {
    grid-column: 2;
    grid-row: 2/3;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  
}

/*Search bar*/
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  border: #f2f2f2;
  border-style: solid;
  border-radius: 15px;
  margin: 20px 0;
}
.search i {
  color: black;
  background-color: whitesmoke;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
}
.search h3 {
  color: white;
  background-color: #0065fc;
  border-radius: 0px 14px 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.search a {
  color: white;
}
.search input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-style: none;
  text-indent: 15px;
}

/* Search Filter */
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filters .filter {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding-left: 0;
  padding-right: 20px;
  margin: 10px;
  border: #f2f2f2;
  border-style: solid;
  border-radius: 100px;
  transition: all 40ms ease-in-out;
}
.filters .filter:hover {
  transform: scale(1.1);
}
.filters .filter .icon {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
}
.filters .filter h3 {
  text-indent: 10px;
}

/*information bar*/
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info i {
  color: #0065fc;
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}




/* Places */
.places {
  width: calc(32%);
  background: #f2f2f2;
  border-radius: 25px;
  margin: 20px 0px;
}
.places h2 {
  margin: 30px 30px;
}
.places .places-content {
  display: flex;
  flex-wrap: wrap;
}
.places .places-content .place {
  background-color: white;
  display: flex;
  width: calc(90%);
  height: 180px;
  margin: 0 5% 4%;
  border-radius: 25px;
  border: 3px solid white;
  overflow: hidden;
  box-sizing: border-box;

  cursor: pointer;
  transition: all 50ms ease-in-out;
}
.places .places-content .place:hover {
  transform: scale(1.05);
  box-shadow: 4px 1px 25px 0px rgba(0, 0, 0, 0.2);
}
.places .places-content .place .thumbnail {
  max-width: 100%;
  width: 40%;
  object-fit: cover;
}
.places .places-content .place .details {
  width: 60%;
  padding-left: 10px;
}
.places .places-content .place .details p {
  margin-bottom: 10px;
}
.places .places-content .place .details .rating {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.places .places-content .place .icon-star {
  color: #0065fc;
}

@media (max-width: 991px) {
  .places {
    width: 100%;
  }
  .places .place {
    width: calc(88% / 3);
    margin: 0 2% 4%;
  }
}

@media (max-width: 768px) {
  .places .place {
    width: calc(98%);
  }
}

@media (max-width: 488px) {
  .places .place {
    width: 98%;
  }
}

/* Accomodations */
.accomodations {
  width: calc(64%);
  background: #f2f2f2;
  border-radius: 25px;
  margin: 20px 0px;
}
.accomodations h2 {
  margin-left: 30px;
}
.accomodations .show-more {
  margin: -2% 3% 2%;
}
.accomodations .accomodation-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.accomodations .accomodation-content .accomodation {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: calc(88% / 3);
  margin: 0 2% 4%;
  border-radius: 25px;
  border: 3px solid white;
  overflow: hidden;
  box-sizing: border-box;

  cursor: pointer;
  transition: all 50ms ease-in-out;
}
.accomodations .accomodation-content .accomodation:hover {
  transform: scale(1.03);
  box-shadow: 4px 1px 25px 0px rgba(0, 0, 0, 0.2);
}
.accomodations .accomodation-content .accomodation .accomodation-thumbnail {
  max-width: 100%;
  width: 100%;
  height: 50%;
  height: 150px;
  object-fit: cover;
}
.accomodations .accomodation-content .accomodation .accomodation-details {
  height: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.accomodations .accomodation-content .accomodation .accomodation-details p {
  margin-bottom: 10px;
}
.accomodations .accomodation .icon-star {
  color: #0065fc;
}

@media (max-width: 991px) {
  .accomodations {
    width: 100%;
  }
  .accomodations .accomodation-content .accomodation {
    width: calc(92% / 2);
  }
}

@media (max-width: 768px) {
  .accomodations .accomodation-content .accomodation {
    width: calc(96%);
  }
}

@media (max-width: 488px) {
}

/*Activities*/
.activities {
  border-radius: 25px;
  margin-top: 50px;
  margin: 2%;
  width: 100%;
}
.activities h2 {
  margin: 2%;
}
.activities .activity-content {
  display: flex;
  max-height: 800px;
}
.activities .activity-content .column {
  width: 25%;
}
.activities .activity-content .column .activity {
  margin: 25px 10px 25px 10px;
  box-shadow: 5px 5px 5px rgb(163, 163, 163);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 96%;
  cursor: pointer;
}
.activities .activity-content .column:nth-child(2n) .activity {
  height: 46%;
}
.activities .activity-content .activity img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: all 50ms ease-in-out;
}
.activities .activity-content .activity:hover img {
  transform: scale(1.07);
}
.activities .activity-content .column:nth-child(2n) .activity img {
  height: 80%;
}
.activity h2 {
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .activities {
    margin: 50px 0;
  }
  .activities .activity-content {
    flex-wrap: wrap;
    max-height: none;
  }
  .activities .activity-content .column {
    width: 50%;
  }
  .activities .activity-content .column .activity {
    max-height: 800px;
  }
  .activities .activity-content .column:nth-child(2n) .activity {
    max-height: 380px;
  }
}
@media (max-width: 768px) {
  .activities .activity-content {
    display: flex;
    flex-direction: column;
  }
  .activities .activity-content .column {
    width: 100%;
  }
  .activities .activity-content .column .activity {
    height: 350px;
  }
  .activities .activity-content .column:nth-child(2n) .activity {
    height: 350px;
  }
  .activities .activity-content .activity img {
    height: 80%;
  }
}

/*Footer*/
footer {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
footer .item {
  padding: 0 20px;
}
footer ul {
  line-height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
    }
    footer li {
      list-style-type: none;
    }
  }