nav {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
}
nav h3{
    color: #0065FC;
    text-align: end;
}
a {
    color: black;
}
#search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    border: #F2F2F2;
    border-style: solid;
    border-radius: 15px;
}
#search i{
    color: black;
    background-color:whitesmoke;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}
#search h3{
    color: white;
    background-color:#0065FC;
    border-radius:  0px 10px 10px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
#search input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-style: none;
}
main {
    font-family: 'Raleway', sans-serif;
    padding: 2%;
}
h2 {
    font-weight: bolder;
}
h3 {
    font-weight: bolder;
}
a:hover {
    color: #0065FC;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}
#Filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Filter{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    padding-left: 0;
    padding-right: 20px;
    margin: 10px;
    border: #F2F2F2;
    border-style: solid;
    border-radius: 100px;
}
.Filter i {
    color: #0065FC;
    background-color:#DEEBFF ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}
.Filter h3 {
    text-indent: 10px;
}
.fa-star {
    color: #0065FC;
}

#Mostpopular {
    width: 28%;
    float: right;
    padding: 2%;
    margin-left: 10px;
    background-color: #F2F2F2;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
    align-items: center;
}
.MostPopular {
    display: flex;
    width: 90%;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.MostPopular img {
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 20% 10%;
}
.populartext {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
#accomodations {
    float: left;
    width: 66%;
    background-color: #F2F2F2;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
    align-items: center;
}
#accomodationbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Accomodation {
    background-color: white;
    width: 90%;
    max-width: 500px;
    min-width: 200px;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
}
.Accomodation img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: none;
}
#activities{
    border-radius: 25px;
    margin-top: 50px;
    float: unset;
    clear: both;
}/* why are they going over the other sections */
#activitybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Activities {
    margin: 25px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
}
.Activities img{
    border-radius: 20px 20px 0px 0px;
    width: 400px;
}
footer {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 600px) {
    #Mostpopular {
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 4%;
        margin-left: -20px;
        background-color: #F2F2F2;
        border-radius: 0px;
        border-width: 0px;
    }
    .MostPopular {
        display: flex;
        width: 95%;
        height: 150px;
        background-color: white;
        border-radius: 25px;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
    }
    .MostPopular img {
        border-radius: 20px 0px 0px 20px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: 20% 10%;
        
    }
    #accomodations {
        float: none;
        width: 100%;
        align-items: unset;
        background-color: white;
        border-radius: 25px;
        border-width: 10px;
        border-color: white;
    }
    #accomodationbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Accomodation {
        background-color: white;
        width: 90%;
        border-radius: 25px;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        margin: 10px;
        box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
    }
    .Accomodation img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 150px;
        object-fit: none;
    }
    #activities{
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }
    .Activities {
        background-color: white;
        width: 95%;
        border-radius: 25px;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        margin: 10px;
        box-shadow: 4px 1px 25px 0px rgba(0,0,0,0.2);
    }
    .Activities img{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 150px;
        object-fit: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 4%;
    }
    footer li{
        list-style-type: none;
    }
}